* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding-inline-start: 0;
  box-sizing: border-box;
}

.App {
  background-color: aqua;
}

.nav {
  background-color: chartreuse;
  display: flex;
  align-items: center;
}

.nav li {
  list-style-type: none;
}

.Galleri {
  background-color: bisque;
}

.Items {
  display: grid;
  grid: repeat(2, 215px) / auto-flow 170px;
  padding-bottom: 100px;
  gap: 15px;
}

.Item {
  background-color: blueviolet;
}

.Cart {
  background-color: brown;
}

.Cart-item {
  background-color: coral;
}

.item-detail {
  background-color: cornflowerblue;
}
